<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h3>STUDENTS INFORMATION</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/addprsn" type="button" class="btn btn-success btn-lg"><b>Add New Student</b></a>
                </div>
                <div class="col-lg-4">
                    <a href="/delete_prsn" type="button" class="btn btn-danger btn-lg"><b>Delete Student</b></a>
                </div>

                <div class="col-lg-4">
                    <a href="/fr_page" type="button" class="btn btn-info btn-lg"><b>FACE ID</b></a>
                </div>
            </div>
            <br>
            <table class="table" style="width: 80%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>StudentName</th>
                        <th>StudentID</th>
                        <th>Department</th>
                        <th>Email</th>
                        <th>AddedDate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[4]}}</td>
                            <td>{{item[5]}}</td>

                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/addcourses" type="button" class="btn btn-success btn-lg"><b>Add New Course</b></a>
                </div>
                <div class="col-lg-4">
                    <a href="/admin/view_enrollments" type="button" class="btn btn-success btn-lg"><b>Enrolled Students</b></a>
                </div>
            </div>

            <br>
            <table class="table" style="width: 80%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Course Name</th>
                        <th>Course ID</th>
                        <th>Professor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in course_data %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>

                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</section>

</body>
</html>